<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>mymvc-dispatcherservlet</servlet-name>
        <servlet-class>com.my.servlet.MyMvcDispatcherServlet</servlet-class>
        <init-param>
            <!--需要扫描并自动注入的包-->
            <param-name>scan-package</param-name>
            <param-value>com.my</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>mymvc-dispatcherservlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <display-name>Archetype Created Web Application</display-name>
</web-app>
